*.pdb
*.log
*.suo
*.pdb
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config

[dD]ebug
[rR]elease
[cC]heckin
[bB]in
obj
log
.idea
node_modules

.vs

_ConfigSettings*.xml
_ConfigSettings.xml*
!_ConfigSettings.xml.example

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/


*.nupkg
*.diff
*.csproj
*.sln
*.g.cs
*.xaml
*.xaml.cs
*.bak
AssemblyInfo.cs
[bB]in/*
_ConfigSettings.xml
