<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="systemLanguage" type="Directum.Dcs.Library.LanguageSection, Directum.Dcs.Library"/>
    <sectionGroup name="Dcs">
      <section name="CaptureServices" type="Directum.Dcs.Capture.CaptureServiceConfigurationSection, CaptureService" />
      <section name="FileSystem" type="Directum.Dcs.Capture.FileSystemCapture.FileSystemCaptureConfigurationSection, Directum.Dcs.FileSystemCapture" />
      <section name="Mail" type="Directum.Dcs.Capture.MailCapture.MailCaptureConfigurationSection, Directum.Dcs.MailCapture" />
      <section name="Lines" type="Directum.Dcs.Capture.Lines.LineConfigurationSection, Directum.Dcs.Lines" />
      <sectionGroup name="Senders">
        <section name="ProgramSender" type="Directum.Dcs.Capture.Senders.ProgramSender.ProgramSenderFactorySettings, Directum.Dcs.ProgramSender" />
        <section name="ISBuilderSender" type="Directum.Dcs.Capture.Senders.ISBuilderSender.ISBuilderSenderFactorySettings, Directum.Dcs.ISBuilderSender" />
        <section name="EventProcessingSender" type="Directum.Dcs.Capture.Senders.EventProcessingSender.EventProcessingSenderFactorySettings, Directum.Dcs.EventProcessingSender" />
      </sectionGroup>
      <sectionGroup name="Packers">
        <section name="BasePacker" type="Directum.Dcs.Capture.Packers.StandardPackers.BasePacker.BasePackerFactorySettings, Directum.Dcs.StandardPackers" />
        <section name="ImagePacker" type="Directum.Dcs.Capture.Packers.StandardPackers.ImagePacker.ImagePackerFactorySettings, Directum.Dcs.StandardPackers" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Directum.Dcs.Logging.LoggerFactoryAdapter, Directum.Dcs.Logging">
        <arg key="throwConfigExceptions" value="False" />
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~\NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <systemLanguage language="ru-Ru"/>

  <appSettings>
    <!-- Папка для хранения логов. -->
    <add key="logsFolder" value="{DCS_PATH}\Logs" />
  </appSettings>
  <Dcs>
    <CaptureServices>
      <clear />
      <add Name="Capture from file system"
           Type="Directum.Dcs.Capture.FileSystemCapture.FileSystemCaptureService, Directum.Dcs.FileSystemCapture" />
      <add Name="Capture mail from inbox"
           Type="Directum.Dcs.Capture.MailCapture.MailCaptureService, Directum.Dcs.MailCapture" />
    </CaptureServices>

    <FileSystem SenderLine="FileCaptureLine" CaptureLegacyFiles="True" >
      <clear />
      <add
              FullPath="{DCS_PATH}\FileCapture\Incoming"
              SenderLine="FileCaptureLine"
              IncludeSubdirectories="False"
              CreateLineForSubdirectories="False"
              DeleteOnCapture="True"
              ExcludeAttributes=""
              IncludeFiles=""
              ExcludeFiles=""
              WaitForFileUnlockTimeoutInSeconds="5"
              DeleteEmptySubdirectoriesAfterCapture="False"
              UpdateIntervalInSeconds="1" />
    </FileSystem>

    <Mail SenderLine="MailCaptureLine" >
      <clear />
      <add
              Name="MailCapture"
              MailReceivePeriodInSeconds="10"
              SenderLine="MailCaptureLine"
              TempFolder="{DCS_PATH}\MailCapture\Temp"
              IncludeMailBody="True"
              IncludeAttachments="True"
              SeparateLineForEachSender="False"
              MessageBodyEncoding=""
              UpdateHtmlCharsetOnMessageBodyEncoding="False"
              CaptureMode="Delete" >

        <Server>
          <clear />
          <add Name="Type" Value="POP3" />
          <add Name="Server" Value="{HOST}" />
          <add Name="User" Value="{BOX}"/>
          <add Name="Password" Value="{BOX_PWD}" />
          <add Name="EncryptionMode" Value="None" />
        </Server>
      </add>
    </Mail>
    <Lines>
      <clear/>
      <!-- Экземпляр линии для захвата из файловой системы. -->
      <add
              Name="FileCaptureLine"
              Packer="FileCapturePacker"
              Sender="AnyProgramSender"
              WorkingFolder="{DCS_PATH}\FileCapture\FileCaptureLineTemp" />
      <add
              Name="MailCaptureLine"
              Packer="MailCapturePacker"
              Sender="AnyProgramSender2"
              WorkingFolder="{DCS_PATH}\MailCapture\MailCaptureLineTemp" />
    </Lines>

    <!-- Настройки модулей упаковки элементов захвата. -->
    <Packers>
      <!-- Настройка модулей подокументной упаковки. -->
      <BasePacker Type="Directum.Dcs.Capture.Packers.StandardPackers.BasePacker.BasePackerFactory">
        <clear />
        <add Name="MailCapturePacker"/>
      </BasePacker>

      <!-- Настройка модулей пакетной упаковки. -->
      <ImagePacker Type="Directum.Dcs.Capture.Packers.StandardPackers.ImagePacker.ImagePackerFactory">
        <clear />
        <add
                Name="FileCapturePacker"
                PackageUnit="Page"
                OutputFileFormat="Pdf"
                CompressionMethod="None"
                Color="Default"
                DeleteBlankPages="False"
                ThresholdForBlank="100"
                InputPdfRenderDpi="300"
                MaxOutputDpi="-1"
                WorkersCount="4"
                AddNotImagesToPackage="False"
                JpegQuality="50">
          <Triggers>
            <clear />
            <add
                    TriggerType="Timeout"
                    Name="TimeoutTrigger"
                    IntervalValueInSeconds="5" />
            <add
                    TriggerType="NewCaptureInstance"
                    Name="NewCaptureInstanceTrigger"  />
            <add
                    TriggerType="BlankPage"
                    Name="BlankPageTrigger"
                    ThresholdForBlank="100"
                    Action="Delete" />
          </Triggers>
        </add>
      </ImagePacker>
    </Packers>

    <Senders>
      <EventProcessingSender Type="Directum.Dcs.Capture.Senders.EventProcessingSender.EventProcessingSenderFactory">
        <clear/>
      </EventProcessingSender>

      <ISBuilderSender Type="Directum.Dcs.Capture.Senders.ISBuilderSender.ISBuilderSenderFactory">
        <clear/>
      </ISBuilderSender>

      <ProgramSender Type="Directum.Dcs.Capture.Senders.ProgramSender.ProgramSenderFactory">
        <clear/>
        <add
                Name="AnyProgramSender"
                WorkingFolder="{DCS_PATH}\SomeCapture\AnyProgramSender"
                Program="{DCS_PATH}\SendToRX.bat"
                ProgramArguments="FileCaptureLine"
                ProgramWorkingFolder="{DCS_PATH}\SomeCapture\AnyProgramSender\AnyProgramSender_Temp"
                TimeOutInSeconds="300"
                TryCount="1"
                WorkersCount="2"/>
        <add
                Name="AnyProgramSender2"
                WorkingFolder="{DCS_PATH}\SomeCapture\AnyProgramSender2"
                Program="{DCS_PATH}\SendToRX2.bat"
                ProgramArguments="MailCaptureLine"
                ProgramWorkingFolder="{DCS_PATH}\SomeCapture\AnyProgramSender2\AnyProgramSender2_Temp"
                TimeOutInSeconds="300"
                TryCount="1"
                WorkersCount="2"/>
      </ProgramSender>
    </Senders>
  </Dcs>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>